{% extends "base.html" %}

{% block content %}
    <div class="category-details-container">
        <h2>{{ category.name }}</h2>
        <div class="category-description">{{ category.description }}</div>
        <hr>
        {% if category.article_set.all %}
            <h3>Relevant Articles:</h3>
            <ul class="list-group">
                {% for article in category.article_set.all %}
                    <li class="list-group-item">
                        <a href="{% url 'articles_detail' article.id %}">{{ article.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
