{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <div class="messages-container">
            <ul class="messages list-group">
                {% for message in messages %}
                    <li class="list-group-item">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if comments %}
        <div class="article-comments-container">
            <h2>Article Comments:</h2>
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">{{ comment.content }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
