{% extends "base.html" %}

{% block content %}
    {% if messages %}
        <div class="messages-container">
            <ul class="messages list-group">
                {% for message in messages %}
                    <li class="list-group-item">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="articles-container">
        <h1>The List of Articles:</h1>
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item">
                    <h2>
                        <a href="{% url 'articles_detail' article.id %}">{{ article.name }}</a>
                    </h2>
                    <p class="mb-1">
                        (<a href="{% url 'article_update' article.id %}">Редактировать статью</a>)
                    </p>
                </li>
            {% endfor %}
        </ul>
        <hr>

        <h2>
            <a href="{% url 'article_create' %}">Create Your Own Article</a>
        </h2>
        <hr>

        <h3>Leave Your Comment Here:</h3>
        <a href="{% url 'comment_create' %}" class="btn btn-primary">Comment Section</a>
    </div>
{% endblock %}
